footer {
    width: 100vw;
    height: 70vh;
}

.footer__contents {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: 45px;
}

.footer__contents__top {
    display: flex;
    justify-content: space-between;
}